{% load static %}
<html lang="es">

<head>
    <title>WEB STORE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="page-header">
        <div class="button-container">
        {% if user.is_authenticated %}
           <a href="{% url 'logout' %}" class="top-menu btn btn-warning">Cerrar Sesión</a>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu btn btn-primary">Iniciar Sesión</a>
            <a href="{% url 'register' %}" class="top-menu btn btn-success">Regístrate</a>
        {% endif %}
        </div>
    </div>
    <header>
        <div class="page-header">
            <h1><strong>Web Store</strong></h1>
        </div>
    </header>

    <nav>
        <a href="{% url 'pag_main' %}">Inicio</a>
        <a href="{% url 'prod_list' %}">Productos</a>
        {% if user.is_staff %}
        <a href="{% url 'sell_list' %}">Ventas</a>
        {% endif %}
        <a href="{% url 'comment' %}">Comentarios</a>
    </nav>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <p>Tienda Virtual &copy; 2023. Todos los derechos reservados.</p>
    </footer>
</body>
</html>