{% extends 'index.html' %}
{% block content %}
    <div class="page-header">
        {% if user.is_staff %}
        <a href="{% url 'prod_new' %}" class="top-menu btn btn-primary">Agregar Producto</a>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            {% for prod in prods %}
            <div class="col-md-4">
                <div class="producto">
                    {% if user.is_staff %}
                        <a class="btn btn-default" href="{% url 'prod_edit' pk=prod.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-default" href="{% url 'prod_delete' pk=prod.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                    <h2>{{ prod.nombre }}</h2>
                    <p>Precio: {{ prod.precio }}</p>
                    <p>Descripción: {{ prod.descripcion }}</p>
                    <img src="{{ prod.imagen.url }}" alt="{{ prod.nombre }}" width="200px" height="200px">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
