{% extends 'index.html' %}

{% block content %}

<div id="comments-list">
    {% for comment in comments %}
        <div class="comment">
            <strong>{{ comment.user.username }} : {{comment.created_at}}</strong>
            <p>{{ comment.content }}</p>
        </div>
    {% endfor %}
</div>
<script>
    $(document).ready(function() {
        // Handle form submission via AJAX
        $('#comment-form').submit(function(event) {
            event.preventDefault(); // Prevent default form submission

            $.ajax({
                type: 'POST',
                url: '{% url "add_comments" %}',
                data: $('#comment-form').serialize(),
                dataType: 'json',
                success: function(data) {
                    if (data.success) {
                        // Comment was added successfully, update the page
                        const commentId = data.comment_id;
                        const content = $('textarea[name="content"]').val();
                        const username = '{{ user.username }}';

                        // Append the new comment to the comments list
                        $('#comments-list').append(
                            `<div class="comment">
                                <strong>${username} : Justo ahora </strong>
                                <p>${content}</p>
                            </div>`
                        );

                        // Clear the textarea
                        $('textarea[name="content"]').val('');
                    } else {
                        alert('Error: ' + data.error);
                    }
                },
                error: function(xhr, status, error) {
                    alert('Error occurred. Please try again.');
                }
            });
        });
    });
</script>
{% if user.is_authenticated %}
<div>
<form id="comment-form" method="post">
    {% csrf_token %}
    <textarea name="content" rows="4" cols="50" required></textarea>
    <button type="submit">Submit Comment</button>
</form>
</div>

<a href="{% url 'send_email' %}" class="top-menu btn btn-warning">Desea enviar Correo?</a>

{% endif %}

{% endblock %}