<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webstore</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Webstore</h1>
    </header>

    <nav>
        <a href="#">Inicio</a>
        <a href="#">Productos</a>
        <a href="#">Carrito</a>
        <a href="#">Contacto</a>
    </nav>

    <section>
        <h2>¡Bienvenido a nuestra tienda virtual!</h2>
        <p>¡Donde puedes encontrar los mejores precios!</p>
    </section>

    <footer>
        <p>Tienda Virtual &copy; 2023. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
