/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.agendasonidocaracol.mx/Upload/afb83e0118323c1840cc188dc018ec4218211c72.jpg'); /* Agrega el fondo difuminado de la imagen */
}


header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    z-index: -1;
}

h1 {
    margin: 9;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 30px;
    color: rgb(21, 196, 249);
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.producto {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.button-container {
    top: 20px;
    margin-left: 15px;
}

.productos .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

