{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <header>
        <div class="page-header">
            <h1>Web Store</h1>
        </div>
    </header>
    <div class="container">
        <h2>Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            <label for="username">Nombre de usuario:</label>
            <input type="text" name="username" required><br>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" required><br>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
        <a href="{% url 'pag_main' %}" class="btn btn-primary">Volver al inicio</a>
        <p>¿Eres cliente? <a href="{% url 'client_login' %}" class="blinking-text">Accede aquí</a>!</p>
    </div>
    <footer>
        <p>Tienda Virtual &copy; 2023. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
