/* accounts.css */

/* Estilo para el body para ocupar toda la altura de la ventana */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-image: url('https://cdn.agendasonidocaracol.mx/Upload/afb83e0118323c1840cc188dc018ec4218211c72.jpg'); /* Agrega el fondo difuminado de la imagen */
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: -85;
    text-align: center;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 400px;
    text-align: center;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.8); /* Agrega fondo blanco con opacidad para el contenido */
    border-radius: 60px;
    padding: 25px;

}

/* Estilo para los campos de formulario (input y label) */
.form-field {
    margin-bottom: 10px; 
    border-radius: 1px;
    text-align: right;
    float: right;
    clear: both;
}

h2 {
    margin-bottom: 20px; /* Espacio entre el título y los campos */
    font-size: 20px
}


/* Estilo para los botones */
button {
    cursor: pointer;
    margin-top: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
}


/* Estilo para el enlace "Accede aquí" */
.blinking-text {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        color: red;
    }
}

/* Estilos para mensajes de error */
.error-message {
    font-weight: bold;
    color: red;
    padding: 33px;
}

.error-registration {
    font-weight: bold;
    color: red;
    padding-top: 125px;
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

